@import '../../node_modules/normalize.css/normalize.css';
@import './components/_reset';
@import './components/variables';
@import './components/mixins';
@import './components/typography';
@import './components/start-screen';
@import './components/gameOver';


body {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    height: 100vh;
    background-color: $main-bgc;
    font-family: 'Orbitron', arial, sans-serif;
    font-size: $main-fz;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $main-bgc;
    width: 300px;
    height: 500px;
    border: 2px solid $main-fc;
    backface-visibility: hidden;
    perspective: 1000;
    transform:translate(-50%, -50%) translateZ(0) rotateZ(360deg);
    @media(orientation: landscape) {
        width: 250px;
        height: 300px;
    }
    @media(orientation: landscape) and (min-width: 800px) {
        width: 300px;
        height: 500px;
    }
}
