@import '../../node_modules/normalize.css/normalize.css';
@import './components/_reset';
@import './components/variables';
@import './components/mixins';
@import './components/typography';


body {
    width: 100vw;
    height: 100vh;
    background-color: $main-bgc;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #f0f0f0;
}
