<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <title>Breakout</title>
    <meta name="description" content="Breakout game">
    <meta name="keywords" content="brakeout, game, old, school, arcade, retro">
    <meta name="robots" content="follow, index">
    <meta name="author" content="Rafal Lubomski">
    <link rel="apple-touch-icon" sizes="180x180" href="#">
    <link rel="icon" type="image/png" sizes="32x32" href="#">
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#5bbad5">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="Brakeout">
    <meta property="media-image" content="#">
    <meta property="ogimage:width" content="200px">
    <meta property="og:description" content="Brakeout game">
    <meta property="og:type" content="webpage">
  </head>

  <body>
    <h1>Breakout</h1>
    <button><span></span></button>
    <div class="rules">
        <h2>Zasady gry</h2>
        <p>Urzywaj klawiszy "prawo", "lewo", żeby poruszać podestem</p>
        <p>Za każdy zbitu klocek, otrzymujesz punkt</p>
        <p>Jesli nie złapiesz piłeczki przegrywasz</p>
        <label for="select">Wybież trudność</label>
        <select name="select" id="select">
            <option value="4">Łatwo</option>
            <option value="8" selected>Średnio</option>
            <option value="16">Trudno</option>
        </select>
    </div>

    <canvas id="canvas" width="800" height="600"></canvas>
  </body>

</html>
