<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=false;">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <title>Breakout Retro Arcade</title>
    <meta name="description" content="Breakout Retro Arcade">
    <meta name="keywords" content="brakeout, game, old, school, arcade, retro">
    <meta name="robots" content="follow, index">
    <meta name="author" content="Rafal Lubomski">
    <link rel="apple-touch-icon" sizes="180x180" href="images/safari-pinned-tab.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="data/manifest.json">
    <link rel="mask-icon" href="../../public/images/mstile-150x150.png" color="#5bbad5">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="Brakeout">
    <meta property="media-image" content="images/safari-pinned-tab.svg">
    <meta property="ogimage:width" content="200px">
    <meta property="og:description" content="Brakeout Retro Arcade">
    <meta property="og:type" content="webpage">
  </head>

  <body>
    <button class="pause-button">pause</button>
    <canvas id="canvas"></canvas>
    <div class="start-screen">
      <h2 class="start-screen__title">Breakout Retro Arcade</h2>
      <form class="start-screen__form">
        <div class="start-screen__form-wrapper">
          <input class="start-screen__form-input" type="text" placeholder="Name">
          <button class="start-screen__form-button">start</button>
        </div>
      </form>
      <div class="list">
        <ul></ul>
      </div>
    </div>
    <div class="gameOver">
      <p class="gameOver__title">game over</p>
      <button class="gameOver__button">play again</button>
    </div>
  </body>

</html>
